<div class="container">

  <div style="padding: 285px; margin-top: 115px; background: bisque; height: 100px">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" style="margin-top: -210px;">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" class="form-control" id="fullName" formControlName="fullName">
        
        
        <span *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)" style="color: red ">
        <span *ngIf="employeeForm.get('fullName').errors.required" style="color: red ">
          Full Name is required
        </span>
        <span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength" style="color: red ">
          Full Name must not be less than 2 characters and not more than 30 characters
        </span>
        </span>


      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>


      <div formGroupName="skills">

        <div class="form-group">
          <label for="fullName">Skill Name:</label>
          <input type="text" class="form-control" id="fullName" formControlName="skillName">
        </div>
        <div class="form-group">
          <label for="experience">Experience in years:</label>
          <input type="text" class="form-control" id="experience" formControlName="experienceInYears">
        </div>

        <label>Proficiency:</label><br>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline1" name="proficiency" value="beginner"
            formControlName="proficiency">
          <label class="custom-control-label" for="defaultInline1">Beginner</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline2" name="proficiency" value="intermediate"
            formControlName="proficiency">
          <label class="custom-control-label" for="defaultInline2">Intermediate</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline3" name="proficiency" value="advanced"
            formControlName="proficiency">
          <label class="custom-control-label" for="defaultInline3">Advanced</label>
        </div>

      </div>

      <div class="row" style="padding: 45px">
        <button type="submit" class="btn btn-default" style="color:#0baba6;">Submit</button>
        <button type="button" class="btn btn-default" style="color:cornflowerblue;" (click)="onLoadDataClick()">Load
          Data</button>
      </div>

    </form>
  </div>

</div>

<router-outlet></router-outlet>